#main-header {
   background: #4c4c4c;
    min-height: 35px;
}

#main-header .logo,
#main-header .tagline {
    float: left;
    margin: 5px 10px;
}

#main-header nav {
    float: right;
}

#main-header .logo{
    background:red !important; 
}

#main-header .logo:after{
   content:"";
   color: white;
   position: absolute;
   top: 20px;
   left: 100px;
   width: 0;
}

#main-header .logo:before{
    /*background:red !important; */
    color: black;
    content:"111111111";

    position: absolute;
    top: 60px;
    left: 100px;
}

